.greenRect {
  @apply hidden absolute;
  bottom: 0;
  top: 0;
}

@screen lg {
  .greenRect {
    @apply block;
    height: 100vh;
    right: -30vw;
  }
}

@screen xl {
  .greenRect {
    @apply block;
    right: -15vw;
  }
}
