@tailwind base;

*::selection {
  @apply bg-syncore text-white;
}

body {
  @apply font-body overflow-hidden;
}

a {
  @apply text-syncore underline transition-color transition-ease transition-250;
}

a:hover {
  @apply text-radiant;
}

strong {
  @apply font-medium;
}

p {
  @apply leading-relaxed;
}

@tailwind components;

@screen md {
  .container {
    width: 505px;
  }
}

@screen lg {
  .container {
    width: 675px;
  }
}

@tailwind utilities;
